<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>-->
<!--    <script src="/socket.io/socket.io.js"></script>-->

    <script src="../src/Scenes/game.js"></script>
    <script src="../src/objects/Entity.js"></script>
    <script src="../src/objects/Player.js"></script>
    <script src="../src/objects/Enemy.js"></script>
    <script src="../src/objects/Potion.js"></script>
<!--    <script src="../game_chat/chat.js"></script>-->
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../game_chat/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&family=Roboto+Mono:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>2020 GameDev Project</title>
</head>
<body>
<div class="container">
    <h1 style="text-align: center; font-family: 'Fondamento', cursive; color: white; font-weight: bold">Lux Infinitas or something</h1>



    <!--<div class="game"></div>-->
    <!--<canvas id="chatWindow" width="200" ></canvas>-->

    <!--    CHAT WINDOW-->
    <form style="text-align: right; margin-right: 5%" action="/logout" method="get">
        <button class="btn btn-warning">Logout</button>
    </form>
    <div id="phaser-example"></div>
    <p style="font-family: Roboto; font-weight: bold; color: white">WASD to move, space to attack</p>
    <div class="row">
        <div class="col-xs-9">

            <script src="../src/main.js"></script>
                        <div id="game"></div>
<!--            <div id="phaser-example"></div>-->
        </div>
        <div class="col-xs-3 d-flex align-items-stretch" style="margin-left: 5%">
            <div  id="harish-chat">
                <div id="chat-window">
                    <div id="output"></div>

                </div>
                <input type="text" id="handle" value=<%= username%> disabled>
                <input type="text" id="message" placeholder="Message">
                <button id="send" id class="chat-button" >Send</button>
            </div>
        </div>
    </div>

</div>

<script>
    //change the url to whatver server you are testing on
    //this is the front end file.
    //This will be imported as a script in the index.html file
    let socket = io.connect("http://localhost:3000");
    console.log("this part reached")
    //Using DOM
    let message = document.querySelector("#message");
    let handle  = document.querySelector("#handle");
    let button  = document.querySelector("#send");
    let output  = document.querySelector("#output");

    // handle.value = req.user.username;

    button.addEventListener("click", function () {
        console.log("This is working");
        socket.emit("chat",{
            message:message.value,
            handle:handle.value
        })

    })

    socket.on("chat", function (mssgObject) {
        output.innerHTML += "<p><strong>"+mssgObject.handle+"</strong> " +mssgObject.message +"</p>";

    })
</script>

</body>
</html>