<%- include("./partial/header.ejs") %>

<body style="background-image: url(assets/grass.png); background-repeat: repeat; filter: contrast(300%)">
<div class="container h-100 align-middle align-self-center" style="margin-top: 15%">
    <div class="row h-100 justify-content-center ">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 style="font-family: 'Fondamento', cursive; font-size: 3em; color: #FFFFFF; text-align: center">Join the Lux Infinitus</h1>
            <form style="opacity: 0.5" action="/signup" method="post">

                <div class="form-group" style="font-family: 'Roboto Mono'">
                    <label style="font-weight: bold; opacity: 1;color: black"  for="exampleUsername">Create a username</label>
                    <input type="text" class="form-control"  name="username" placeholder="Enter username">
                    <small id="userHelp" style="color:black; font-weight: bold" class="form-text ">Your username will be displayed on the leaderboard</small>
                </div>
                <div class="form-group" style="font-family: 'Roboto Mono'">
                    <label style="font-weight: bold; opacity: 1; color: black" for="exampleInputPassword1">Create a password</label>
                    <input name = "password" type="password" class="form-control"  placeholder="Password">
                </div>

                <button type="submit"  class="btn btn-secondary" style="border-radius: 0; opacity: 1">Join</button>
            </form>

            <div class="etc-login-form">
                <p>Already have an account? <a href="/login"> Login here</a></p>
            </div>


        </div>
    </div>
</div>


</body>
</html>




